---
import Layout from "@/layouts/PageLayout.astro";
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";
const blogEntries = await getCollection(
  "blogs",
  ({ data }) => data.isDraft !== true
);

blogEntries.sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());
---

<Layout
  title="JBC - Blog"
  description="Here you can see all the blog posts in this website."
  class="prose-sm w-full sm:prose sm:max-w-none"
>
  <h1>Blog Posts</h1>
  <div class="grid w-full grid-cols-1 gap-8 not-prose">
    {
      blogEntries.map(({ data, slug }) => (
        <a href={`/blog/${slug}`}>
          <div class="not-prose card card-bordered card-compact cursor-pointer rounded-lg bg-base-300 shadow-xl">
            <figure>
              <Image
                src={data.image}
                alt={data.title}
                format="webp"
                width={720}
                height={360}
              />
            </figure>
            <div class="prose-sm card-body">
              <h2 class="card-title">{data.title}</h2>
              <time>
                {new Intl.DateTimeFormat("en-US", { dateStyle: "full" }).format(
                  data.date
                )}
              </time>
              <p>{data.description}</p>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
